<div *ngIf="locations.length > 0" class="row">
  <div class="col-12">
    <h3 class="my-3">Aussuchen.</h3>
    <div *ngIf="isLoading">
      <app-spin-loader width="50px" height="50px" borderWidth="2px"></app-spin-loader>
    </div>
    <div class="row">
      <div class="col-md-4">
        <ul *ngFor="let location of locations" class="list-group">
          <li [id]="location.id" [ngClass]="{'active-location':currentLocation === location.id}" (click)="locationClicked($event)"
            class="list-group-item">{{location.name}}</li>
        </ul>
      </div>
      <div class="col-md-8">
        <table *ngIf="currentMenus.length > 0; else noMenu" class="table table-striped">
          <tbody>
            <tr *ngFor="let menu of currentMenus">
              <td>{{menu.description}}</td>
              <td>{{menu.price}}</td>
            </tr>
          </tbody>
        </table>
        <ng-template #noMenu>Für dieses Restaurant wurde keine Karte gefunden.</ng-template>
      </div>
    </div>
  </div>
</div>
