<div class="row">
  <div class="col-12">
    <div class="row p-3 first-row">
      <!-- <div class="col-md-6 p-3 first-row-content">
        <p>Your are {{onlineState}} </p>
        <p>Your userAgent is {{userAgent}} </p>
        <p>Your Browser supports geolocation: {{supportsGeo}}</p>
        </div> -->


      <div class="col-md-6 p-3 first-row-content">
        <form [formGroup]="filterForm">
          <div class="form-group">
            <input (keyup)="addressChanged()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
              #search formControlName="address" placeholder="Geben Sie einen Standord ein">
            <div class="text-center mx-auto">
              <p class="font-weight-bold my-0">ODER</p>
              <button (click)="useUserLocation()" type="button" class="mx-auto btn btn-secondary btn-sm">
                <i class="pr-2 fas fa-location-arrow"></i>Verwende deinen Standort</button>
            </div>
          </div>
          <div class="form-group mt-4">
            <select formControlName="distanceM" class="form-control">
              <option value="500">Suche im Umkreis von 500m</option>
              <option value="1000">Suche im Umkreis von 1000m</option>
              <option value="1500">Suche im Umkreis von 1500m</option>
            </select>
          </div>
        </form>
        <button (touch)="filterButtonClicked($event)" (click)="filterButtonClicked($event)" type="button" class="btn btn-primary btn-block">Locations suchen!</button>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          <strong>Fehler!</strong> Bitte überprüfe deine Eingabe.
        </div>
      </div>

    </div>
  </div>
</div>
