<div class="row">
  <div class="col-md-6">
    <form [formGroup]="filterForm">
      <div class="form-group">
        <label class="center-block">Adresse
          <input (keyup)="addressChanged($event)" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
            #search formControlName="address">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Entfernung
          <select (change)="distanceChanged($event.target.value)" formControlName="distance" class="form-control input-lg">
            <option value="1.0">1 km</option>
            <option value="2.0">2 km</option>
            <option value="5.0">5 km</option>
          </select>
        </label>
      </div>
    </form>
    <button (click)="filterButtonClicked($event)" type="button" class="btn btn-primary">Locations suchen!</button>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      <strong>Fehler!</strong> Bitte überprüfe deine Eingabe.
    </div>
  </div>
  <div class="col-md-6">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapClick)="placeMarker($event)" [clickableIcons]="false">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      <agm-circle [latitude]="latitude" [longitude]="longitude" [clickable]="false" [radius]="distanceM"></agm-circle>
    </agm-map>
  </div>
</div>