<form [formGroup]="filterForm">
  <div class="form-group">
    <label class="center-block">Adresse
      <input class="form-control" formControlName="address">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Entfernung
      <input class="form-control" formControlName="distance">
    </label>
  </div>
</form>

<button (click)="filterButtonClicked($event)" type="button" class="btn btn-primary">Locations suchen!</button>

<div *ngIf="error" class="alert alert-danger" role="alert">
  <strong>Achtung!</strong> Bitte überprüfe deine Eingabe.
</div>