/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.mat-slider-horizontal {
  width : 100%;
}

body {
  padding-top: 54px;
}

agm-map {
  height: 300px;
}

.form-group {
    width: 100%;
}

.form-group label {
    width: 100%;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


